@font-face {
	font-family: 'drmuey-icomoon';
	src:url('fonts/drmuey-icomoon.eot?-pyvrpz');
	src:url('fonts/drmuey-icomoon.eot?#iefix-pyvrpz') format('embedded-opentype'),
		url('fonts/drmuey-icomoon.woff?-pyvrpz') format('woff'),
		url('fonts/drmuey-icomoon.ttf?-pyvrpz') format('truetype'),
		url('fonts/drmuey-icomoon.svg?-pyvrpz#drmuey-icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-drmuey-"], [class*=" icon-"] {
	font-family: 'drmuey-icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-drmuey-hhgttg:before {
	content: "\e604";
}

.icon-drmuey-hhgttg-dp .path1:before {
	content: "\e605";
	color: rgb(51, 122, 190);
}
.icon-drmuey-hhgttg-dp .path2:before {
	content: "\e606";
	margin-left: -0.7724609375em;
	color: rgb(51, 122, 190);
}
.icon-drmuey-hhgttg-dp .path3:before {
	content: "\e607";
	margin-left: -0.7724609375em;
	color: rgb(255, 242, 21);
}

.icon-drmuey-perl-camel:before {
	content: "\e608";
}

.icon-drmuey-perl-onion:before {
	content: "\e609";
}

.icon-drmuey-perl-raptor:before {
	content: "\e60a";
}

.icon-drmuey-perl6-camelia:before {
	content: "\e60b";
}

.icon-drmuey-python:before {
	content: "\e60c";
}

